{% extends "base.html" %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Following users</th>
    </tr>
    </thead>
    <tbody>
        {% for name in names %}
        <tr>
            <td>{{name.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }} {{ form.username(size=32) }} 
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit() }}</p>
</form>

{% endblock %}

